{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} sur nos Crédit{% endblock %}

{% block body %}

<div>
    <div class="container">
        <div class="row">
            <div class="jumbotron col-md-7 m-auto shadow">
                <h2 class="text-center">Votre simulation</h2>
                <div class="card flex-row justify-content-around p-4">
                    {% for cred in credit %}
                        <a href="">
                            <div class="credit border border-primary text-center p-4">
                                <img src="https://via.placeholder.com/90" alt="logo" class="shadow-sm">
                                <p> {{ cred.titre }} </p>
                            </div>
                        </a>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

</div>
{% endblock %}