<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Credits </a>
    <div class="dropdown-menu" style="">
    {% for categorie in categories %}
        <a class="dropdown-item" href="{{ url('category_show', {id: categorie.id}) }}"> {{ categorie.titre }}</a>
    {% endfor %}
    </div>
</li>