
.text-primary {
    color: #B0F4DB !important;
}

.text-success{
    color: #00A98A !important;
}
.text-dark {
    color: #00684D !important;
}

.text-secondary {
    color: #132A40 !important;
}

.text-danger {
    color: #535453 !important;
}


.text-info {
    color: #0092BB !important;
}

.btn-color {
    background: #076f65;
    border: none;
    color: #fff !important;
}

.active2 {
    background-color: #eee !important;
    color: #000;
}

.mt-6 {
    margin-top: 4rem;
}

.mt-7 {
    margin-top: 145px;
}

.mb-6 {
    margin-bottom: 150px !important;
}

.mb-7 {
    margin-bottom: 200px !important;
}

.mb-8 {
    margin-bottom: 350px !important;
}

/* ---------------------------------- */

.mb-6 {
    margin-bottom: 4rem;
}
.active{
    background-color: transparent !important;
    /* color: #B0F4DB !important; */
}

.mb-7 {
    margin-bottom: 5rem;
}


/* ---------- bg -------------- */

.primary {
    background-color: #B0F4DB !important;
    color: #00A98A !important;
}

.success{
    background-color: #00A98A !important;
    color: #B0F4DB !important;
}

.dark {
    background-color: #00684D !important;
    color: #00A98A !important;
}

.secondary {
    background-color: #132A40 !important;
    color: #535453 !important;
}

.danger {
    background-color: #535453 !important;
    color: #132A40 !important;
}

.info {
    background-color: #0092BB !important;
    color: lightblue !important;
}

.totalM1 {
    background-color: #B0F4DB !important;
    color: #00684D !important;
    font-weight: bold;
    text-shadow: 0px 1px 3px #000000c7;
}

.totalM2 {
    background-color: #00684D !important;
    color: #B0F4DB !important;
    font-weight: bold;
    text-shadow: 0px 1px 3px #000000c7;
}

.totalM3 {
    background-color: #00A98A !important;
    color: #fff !important;
    font-weight: bold;
    text-shadow: 0px 1px 3px #000000c7;
}

.offre1 {
    border-bottom: solid 4px #B0F4DB !important;
}

.offre2 {
    border-bottom: solid 4px #00684D !important;
}

.offre3 {
    border-bottom: solid 4px #00A98A !important;
}

.color-commande1 {
    background-color: #0092BB !important;
    color: lightblue;
}

.color-commande2 {
    background-color: #132A40 !important;
    color: #fff;
}

.color-commande3 {
    background-color: #1a7b7b !important;
    color: #fff;
}

.bg-commande1 {
    background-color: #0092BB !important;
}

.bg-commande2 {
    background-color: #132A40 !important;
}

.bg-commande3 {
    background-color: #1a7b7b !important;
}


/* ------------------------------------------ */


.span-title {
    font-size: 1.3rem;
    padding-left: 16px;
}

.cercle1 {
    width: 200px;
    height: 200px;
    background: white;
    border-radius: 50%;
    display: block;
    text-align: center;
    padding: 1rem;
    position: relative;
}

.cercle2 {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
    padding: 0.7em;
    position: absolute;
    background-color: #00684D;
    right: -14px;
    top: 0;
    font-size: small;
}

.text-cercle {
    margin: 0;
    text-align: center;
    color: #125447;
}

.numb {
    margin: 0px 5px 0 0;
    float: left;
    font-size: 3em;
    font-weight: bold;
    border-bottom: solid 3px red;
    color: #125447;
}

.pourcent {
    font-size: 35px;
    float: left;
    font-weight: bold;
    margin-right: 2px;
}

.taeg {
    font-size: 20px;
    font-weight: bold;
    float: left;
}

.text-cercle::after {
    position: absolute;
    left: 25px;
    bottom: 0;
    border-top: 24px solid transparent;
    border-left: 24px solid #fff;
    border-right: 0px solid #fff;
    border-bottom: 24px solid transparent;
    content: " ";
    transform: rotate(27deg);
}

.linkCat {
    text-shadow: 1px 1px 3px #0000009c;
    text-transform: uppercase;
}

.blue-divider {
    width: 25px;
    height: 3px;
}

.imageCredit {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    border-radius: 25px;
    height: 100%;
}

.wrapCredit {
    border-radius: 25px;
}

.wrapCredit2 {
    background: transparent;
    border: none;
}

.imgInfo {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background-color: #f5f5f5;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;
}

.cardCredit {
    max-width: 25%;
    box-shadow: 0 4px 20px 0 rgba(0,0,0,.2);
}

.projet {
    padding-bottom: 5rem;
}

.prevCar {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #00A98A ;
    opacity: 1;
    top: 76px;
    left: -7px;
}

.nextCar {
    right: -7px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #00A98A;
    opacity: 1;
    top: 76px;
}

.itemCar{
    padding: 1.8rem 2rem 0.2rem !important;
    box-shadow: 0 4px 20px 0 rgba(0,0,0,.2);
    height: 170px;
}

#myCarousel ol li {
    background-color: #00a98a;
    margin-right: 19px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
}

.contactSection {
    height: 250px;
    background: #ff5e4d;
}

.contactSection>.container, .contactSection>.container>.row {
    height: 100%;
}

.jcse {
    justify-content: space-evenly;
    width: 75%;
    margin: 0 auto;
}

.hidden {
    display: none;
}

.rotate {
    transform: rotate(180deg);
    transition: transform 0.3s ease-in-out;
}

.iconC {
    font-size: 25px;
    cursor: pointer;
}

.questions {
    padding-left: 10px;
    cursor: pointer;
}

.boxFaq {
    border: solid 2px #18bc9c;
}

.contact {
    width: 150px;
    height: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    right: 0;
    bottom: 0;
    z-index: 1030;
}

.contact img {
    width: 42px;
}

.reseaux a {
    margin-left: 10px;
}

.reseaux {
    width: 150px;
}

.fixed-bottom {
    position: fixed;
    right: 0;
    bottom: 44px;
    z-index: 1030;
}

footer {
    height: 200px;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

/* ------------------------  */

.commande {
    margin-top: 165px;
    padding: 1rem;
}


.wrap-cred {
    padding: 2.5rem;
    height: 70vh;
    position: fixed;
    background: #fff;
    z-index: 999;
    top: 140px;
}

.cardCredit2 {
    height: 24vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0 0;
    /* position: relative; */
}

.cardCredit3 {
    position: relative;
    margin-left: 30% !important;
}

.cardCredit2 .card-body {
    width: 100%;
    max-height: 60px;
}

.box-mensualites {
    position: relative;
    width: 150px;
    text-align: center;
}

.container-commande1::after {
    position: absolute;
    left: 65px;
    top: 29px;
    border-top: 14px solid transparent;
    border-left: 14px solid #0092BB;
    border-right: 0px solid #0092BB;
    border-bottom: 14px solid transparent;
    content: " ";
    transform: rotate(89deg);
}

.container-commande2::after {
    position: absolute;
    left: 65px;
    top: 29px;
    border-top: 14px solid transparent;
    border-left: 14px solid #132A40;
    border-right: 0px solid #132A40;
    border-bottom: 14px solid transparent;
    content: " ";
    transform: rotate(89deg);
}

.container-commande3::after {
    position: absolute;
    left: 65px;
    top: 29px;
    border-top: 14px solid transparent;
    border-left: 14px solid #1a7b7b;
    border-right: 0px solid #1a7b7b;
    border-bottom: 14px solid transparent;
    content: " ";
    transform: rotate(89deg);
}

.wrapUp-table {
    overflow: hidden;
}

.cel {
    padding: 1.5rem;
}

.cel2 {
    padding: 0 1.5rem;
}

.titleCat{
    position: absolute;
    right: 0;
    left: 0;
    top: 125px;
    padding-left: 350px;
}

@media screen and (max-width: 768px) {
    .wrap-cred {
        position: static;
        height: 55vh;
    }

    .cardCredit3 {
        display: none;
    }

    .box-contact {
        display: none;
    }

    .jcse {
        flex-wrap: wrap;
        flex-direction: column;
    }

    .cardCredit {
        max-width: 80%;
    }
    .rowProjet {
        justify-content: center !important;
    }
}

@media screen and (max-width: 500px) {
    .contactSection {
        height: 300px;
    }

    .btn-contact {
        margin: 10px 0 !important;
    }
}

.box-profil {
    width: 350px;
    height: 350px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-profil {
    max-width: 500px;
    height: auto;
}
