{% extends 'base.html.twig' %}

{% block title %}Edit Category{% endblock %}

{% block body %}
<div class="container col-md-8 mt-7">
    <h1>Modifier une catégorie</h1>

    {{ include('category/_form.html.twig', {'button_label': 'Update'}) }}

    <a class="btn btn-success" href="{{ path('category_index') }}">Retour à la liste des catégories</a>

    {{ include('category/_delete_form.html.twig') }}
</div>
{% endblock %}
