<section class="container-fluid contactSection mt-5">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-9">
                <h2 class="text-light text-center pb-2">Nos équipes sont là pour vous</h2>
                <div class="d-flex jcse">
                    <a href="" class="btn btn-lg btn-outline-light rounded-pill"><i class="fas fa-at mr-1"></i> PAR EMAIL</a>
                    <a href="" class="btn btn-lg btn-outline-light rounded-pill"><i class="fas fa-phone-alt mr-1"></i> PAR TELEPHONE</a>
                    <a href="" class="btn btn-lg btn-outline-light rounded-pill"><i class="fas fa-comments mr-1"></i> PAR CHAT</a>
                </div>
            </div>
            <div class="col-md-3">
                <img src="{{ asset('images/img-contact.svg') }}" alt="">
            </div>
        </div>
    </div>
</section>

<section class="container-fluid bg-light">
    <div class="container p-5">
        <strong>Credit Kibozumi: des crédits auto, perso, travaux, rachat ou renouvelables</strong>
        <br><br>

        <p>
            Sofinco est un spécialiste du crédit à la consommation en France, qui vous accompagne au quotidien dans chacun de vos projets et vous propose une solution de financement adaptée !

            Professionnel des services de financements aux particuliers, Sofinco est un leader français sur le marché du crédit à la consommation.

            Dans un souci constant d’accompagnement des consommateurs dans leurs projets de vie, les conseillers experts en pret sont à l’écoute de vos besoins. Ils vous proposent des solutions adaptées, en agence ou en ligne, en fonction des mensualités que vous aurez choisies.
            <br><br>

            A vos côtés depuis plus de 60 ans
            À l’initiative de la Fédération nationale de l’Ameublement,Sofinco (Société de Financement Industriel et Commercial) a été créée en 1951 pour répondre aux besoins d’équipement des ménages. La société de crédits est nationalisée en 1982, puis privatisée en 1987. En 1993, elle est rattachée au groupe Crédit Agricole par le biais d’un partenariat, pour ensuite être officiellement rachetée en 1999. C’est en 2010 que nait C.A. Consumer Finance suite à une fusion avec Finaref. Sofinco devient alors la seule marque commerciale du groupe.
            <br><br>

            Des services de prêts pour les particuliers
            Préparez votre projet et découvrez toute notre gamme de produits et services financiers dédiés à vos besoins directement sur le site. Nous vous proposons des crédits adaptés : des prêts affectés (camping-car, bateau, etc.), mais aussi des offres de pret personnel (auto, perso travaux, moto, caravane), des crédits renouvelables (le crédit renouvelable Agile) ou encore le regroupement de prêts (rachat de crédit). Gratuitement et sans engagement de souscription, vous pouvez également effectuer une simulation de crédit  en ligne. Cet outil vous fournit l’ensemble des informations sur votre demande de financement, selon vos capacités de remboursement*.
            <br><br>

            Des valeurs et un engagement envers nos clients
            Avec Nos Engagements, nous nous engageons envers nos clients tout au long de notre relation : de la souscription au remboursement de votre credit, en passant par vos éventuels changements de vie. Laissez-vous guider sur notre site Internet et souscrivez en quelques clics un credit renouvelable, un prêt perso, un prêt perso auto ou tout autre produit, qui saura répondre à vos attentes.
            Rejoignez-nous sur les réseaux sociaux, tels que Facebook, pour échanger et suivre toute notre actualité et celle du credit en temps réel
            <br><br>

            *sous réserve d'acceptation définitive après étude des pièces justificatives demandées par CA Consumer Finance.
        </p>
    </div>
</section>