<section class="container-fluid contactSection mt-5">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-9 p-sm-0">
                <h2 class="text-light text-center pb-2">Nos équipes sont là pour vous</h2>
                <div class="d-flex jcse">
                    <a href="" class="btn btn-lg btn-outline-light rounded-pill"><i class="fas fa-at mr-1"></i> PAR EMAIL</a>
                    <a href="" class="btn btn-lg btn-outline-light rounded-pill my-sm-2 btn-contact"><i class="fas fa-phone-alt mr-1"></i> PAR TELEPHONE</a>
                    <a href="" class="btn btn-lg btn-outline-light rounded-pill"><i class="fas fa-comments mr-1"></i> PAR CHAT</a>
                </div>
            </div>
            <div class="col-md-3 box-contact">
                <img src="{{ asset('images/img-contact.svg') }}" alt="">
            </div>
        </div>
    </div>
</section>