<section class="container question mt-6">
    <h2 class="font-weight-bold text-success text-center pb-5">Kibozumi répond à vos questions</h2>
    <div class="row">
        <div class="col-md-10 m-auto">
            <div class="boxFaq">
                <div class="boxUp pt-5 px-5">
                    <p class="questions mb-5">Quelles sont les étapes d'une demande de financement en ligne ? <i class="fas fa-chevron-down iconC ml-2 text-success"></i></p>

                    <div class="rep hidden">
                        <p>
                            Avec sofinco.fr, vous pouvez effectuer votre demande de prêt en toute simplicité, sans vous déplacer ! Voici les 5 étapes à suivre :
                            <br><br>
                            1- Selon votre projet, vous choisissez le prêt qui vous convient. Grâce à notre simulateur, selon le montant dont vous avez besoin, vous personnalisez la mensualité et la durée qui vous paraissent les mieux adaptées à votre situation. Il ne reste plus qu'à saisir votre demande !
                            <br><br>
                            2- Vous recevez une réponse de principe immédiate, ainsi qu'un e-mail récapitulatif de votre demande.
                            <br><br>
                            3- Vous avez la possibilité de télécharger et imprimer votre dossier de crédit pour ne pas perdre de temps. Ou bien, choisissez de recevoir votre dossier par courrier.
                            <br><br>
                            4- Vous nous adressez votre offre de contrat de crédit et votre fiche de dialogue, datées et signées, ainsi que les justificatifs demandés.
                            <br><br>
                            5- Dès réception, votre dossier est finalisé par votre agence.
                            <br><br>
                            Et rappelez-vous : pour savoir où en est votre demande, consultez votre suivi de demande depuis votre espace client, grâce au numéro de dossier transmis dans l'e-mail récapitulatif !
                        </p>
                    </div>
                    <hr>

                    <p class="questions mb-5">Ai-je la possibilité de modifier le montant de mes mensualités ? la durée de mon crédit ? <i class="fas fa-chevron-down iconC ml-2 text-success"></i></p>
                    <div class="rep hidden">
                        <p>
                            Avec le prêt personnel ou le crédit renouvelable Agile, vous pouvez modifier le montant de vos mensualités à tout moment, autant de fois que vous le voulez, après étude de votre dossier.
                        </p>
                    </div>
                    <hr>

                    <p class="questions mb-5">Comment signaler un changement de coordonées postales, de numéro de téléphone, d'adresse email ? <i class="fas fa-chevron-down iconC ml-2 text-success"></i></p>
                    <div class="rep hidden">
                        <p>
                            Je change de coordonnées bancaires, comment vous en informer ?
                            <br><br>
                            Pour nous informer de votre changement de coordonnées bancaires, envoyez par courrier votre relevé d'identité bancaire ou postal original en mentionnant votre numéro de contrat à : Agence Service Clients BP 50075 77213 AVON CEDEX.
                            <br><br>
                            Je vais déménager, comment vous communiquer ma nouvelle adresse ?
                            <br><br>
                            Pour nous signaler facilement votre nouvelle adresse, vous avez deux solutions :
                            <br><br>
                            Par téléphone : appelez votre conseiller Sofinco au 0 974 502 504 (appel non surtaxé), du lundi au vendredi de 9h à 18h30 et le samedi de 9h à 13h
                            Par courrier : Agence Service clients Sofinco - BP 50075 - 77 213 Avon Cedex.
                            Pensez à préciser votre nouvelle adresse et la date de votre emménagement
                        </p>
                    </div>
                    <hr>

                    <p class="questions mb-5">J'ai oublié mon code d'acces a mon compte Kibozumi <i class="fas fa-chevron-down iconC ml-2 text-success"></i></p>
                    <div class="rep hidden">
                        Cliquez sur le lien « code d’accès oublié ? » situé sous la grille virtuelle dans votre espace client. Il vous sera alors demandé de saisir votre identifiant, votre date de naissance et votre département de naissance afin de vérifier votre identité.
                        <br><br>
                        Si les informations saisies correspondent à celles que vous nous aviez préalablement communiquées, nous vous attribuons un code d'accès temporaire, que vous pourrez choisir de recevoir :
                        <br><br>
                        Par SMS
                        Par courrier
                        En contactant un conseiller au 0 974 502 504 (non surtaxé)
                        Une fois ce code d'accès temporaire reçu, saisissez-le à l'aide de la grille virtuelle. Vous serez ensuite invité à le personnaliser.
                        <br><br>
                        Si les informations personnelles saisies ne correspondent pas à celles dont nous disposons, nous vous invitons à contacter un conseiller au 0 974 502 504 (non surtaxé).
                        <br><br>
                        Accéder à mon espace client
                    </div>
                    <hr>

                    <p class="questions mb-5">Cela fait plus de 48h que j'ai saisi mon dossier, et je n'ai toujours pas de réponse ? <i class="fas fa-chevron-down iconC ml-2 text-success"></i></p>
                    <div class="rep hidden">
                        Normalement, un e-mail vous a été envoyé. Nous vous invitons donc à vérifier votre boîte électronique, y compris le dossier « Courrier indésirable ». Si vous n'avez rien reçu, vous pouvez téléphoner à un conseiller de clientèle au 
                        Vous avez la possibilité de suivre votre demande en vous connectant sur votre espace client.
                    </div>
                </div>
                <div class="text-center bg-light p-5 mt-3">
                    <h4 class="pb-3 font-weight-bold">Une autre question ?</h4>
                    <button class="btn btn-success btn-lg rounded-pill">Consulter notre FAQ</button>
                </div>
            </div>
        </div>
    </div>
</section>