<section class="container p-0 mb-5 cCommande">
        <h2 class="text-center font-weight-bold text-success pb-5">Kibozumi rend vos projets plus Smart</h2>
    <div class="row">
        <div class="col-md-3 text-center d-flex flex-column align-items-center">
            <div class="imgInfo">
                <img src="{{ asset('images/icon-personne.png') }}" alt="icon-personne">
            </div>
            <h4 class="my-4 font-weight-bold">Seul(e) ou accompagné(e)</h4>
            <p>
                Bénéficiez d'un accompagnement personnalisé, souscrivez à votre crédit en ligne(1) ou avec l'aide de nos conseillers.
            </p>
        </div>
        <div class="col-md-3 text-center d-flex flex-column align-items-center">
            <div class="imgInfo">
                <img src="{{ asset('images/icon-time.png') }}" alt="icon-personne">
            </div>
            <h4 class="my-4 font-weight-bold">Une réponse de principe immédiate</h4>
            <p>
                N'attendez plus pour concrétiser vos projets, obtenez votre réponse de principe en 5 minutes.
            </p>
        </div>
        <div class="col-md-3 text-center d-flex flex-column align-items-center">
            <div class="imgInfo">
                <img src="{{ asset('images/icon-smile.png') }}" alt="icon-personne">
            </div>
            <h4 class="my-4 font-weight-bold">Une gestion simplifiée</h4>
            <p>
                Gérez votre prêt et vos remboursements facilement depuis votre espace client.
            </p>
        </div>
        <div class="col-md-3 text-center d-flex flex-column align-items-center">
            <div class="imgInfo">
                <img src="{{ asset('images/icon-flexible.png') }}" alt="icon-personne">
            </div>
            <h4 class="my-4 font-weight-bold">100% flexible</h4>
            <p>
                Mettez en pause vos mensualités ou adaptez leurs montants pour faire face aux imprévus.
            </p>
        </div>
    </div>
</section>