{% extends 'base.html.twig' %}

{% block title %}New Credit{% endblock %}

{% block body %}
    <h1>Create new Credit</h1>

    <div class="container form-credit">

        {{ include('credit/_form.html.twig') }}

    </div>

    <a href="{{ path('credit_index') }}">back to list</a>
{% endblock %}
